@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --primary: 244.53 57.79% 42.66%;
    --primary-foreground: 0 0% 98.08%;
    --secondary: 212.83 14.53% 77.95%;
    --secondary-foreground: 0 0% 0%;
    --accent: 212.83 9.83% 62.89%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;
    --ring: 27.06 100% 80%;
    --chart-1: 244.53 57.79% 42.66%;
    --chart-2: 212.83 14.53% 77.95%;
    --chart-3: 212.83 9.83% 62.89%;
    --chart-4: 212.83 14.53% 80.95%;
    --chart-5: 244.53 60.79% 42.66%;
  }

  .dark {
    --background: 0 0% 6.27%;
    --foreground: 252 37% 98%;
    --muted: 0 0% 10.98%;
    --muted-foreground: 0 0% 62.75%;
    --popover: 0 0% 8.63%;
    --popover-foreground: 252 37% 99%;
    --card: 0 0% 6.27%;
    --card-foreground: 252 37% 99%;
    --border: 0 0% 15.69%;
    --input: 0 0% 10.98%;
    --primary: 244.53 57.79% 42.66%;
    --primary-foreground: 0 0% 98.08%;
    --secondary: 212.83 14.53% 77.95%;
    --secondary-foreground: 0 0% 0%;
    --accent: 212.83 9.83% 62.89%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 21.31% 11.96%;
    --destructive-foreground: 0 100% 75.1%;
    --ring: 27.06 100% 80%;
    --chart-1: 244.53 57.79% 42.66%;
    --chart-2: 212.83 14.53% 77.95%;
    --chart-3: 212.83 9.83% 62.89%;
    --chart-4: 212.83 14.53% 80.95%;
    --chart-5: 244.53 60.79% 42.66%;
  }
}




